
.squad_image {
  max-width: 100% !important;
}

aside.onebox .futclan_source {
  background: url(http://forum.futclan.com/uploads/default/original/1X/c14d3c5566a6e335fd6a39e06915800a2edc0d29.png) no-repeat;
  padding-left: 20px;
}

